body {
	font-family:"Trebuchet MS", "Times New Roman", Times;
	font-size:13px;
	font-weight:normal;
	color:#6F6355;

}
#doctitle {
	font-family: "Trebuchet MS", "Times New Roman", Times;
	font-size: 18px;
	font-weight: normal;
	padding-bottom: -1px;
	margin-left:-1px;
	margin-bottom1:-2px;
}
