<style>
   <!-- 
     body                  {margin:0px;}

     a                     {font-size:10pt;font-family:Helvetica,Arial;text-decoration:none;color:#003399;}
     a:hover               {font-family:Helvetica,Arial;text-decoration:none;color:#FF0000;}

     font                  {font-size:10pt;font-family:Helvetica,Arial;}
     
     font.Calendar         {font-size:8pt;font-family:Helvetica,Arial;font-weight:none;text-decoration:none;color:#000000;}
     font.Calendar2        {font-size:10pt;font-family:Helvetica,Arial;font-weight:bold;text-decoration:none;color:#FFFFFF;}
     a.Calendar            {font-size:8pt;font-family:Helvetica,Arial;text-decoration:none;color:#336699;}
     a.Calendar:hover      {font-size:8pt;font-family:Helvetica,Arial;text-decoration:none;color:#FF0000;}
     a.Calendar2           {font-size:8pt;font-family:Helvetica,Arial;text-decoration:none;color:#FFFFFF;}
     a.Calendar2:hover     {font-size:8pt;font-family:Helvetica,Arial;text-decoration:none;color:#FFFF00;}
     a.Calendar3           {font-size:10pt;font-family:Helvetica,Arial;text-decoration:none;color:#FFFFFF;}
     a.Calendar3:hover     {font-size:10pt;font-family:Helvetica,Arial;text-decoration:none;color:#FFFF00;}
   -->
 </style>